body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  /* Tem que estabelecer um valor inicial para a imagem. E ao fazer isso, o max-width: 100% vai esmagar a imagem pq o valor de height vai ser mantido. Então se colocar "auto", a imagem vai diminuir de forma igual */
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  /* Para quebrar a linha em todas as letras */
  word-break: break-all;
  /* força a quebra em no máximo 4 caracter por linha */
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    /* Para remover o max-width: 4ch */
    /* !important serve para nada seja feito por cima dele*/
    max-width: initial !important;
  }
}
